.btn {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: $almost_black;
  color: $white;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $white;
    color: $almost_black;
    border: 1px solid $almost_black;
  }

  &.google-sign-in {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: $google_blue;
    color: $white;

    &:hover {
      background-color: $google_blue_hover;
      border: none;
    }
  }

  &.inverted-colors {
    background-color: $white;
    color: $almost_black;
    border: 1px solid $almost_black;

    &:hover {
      background-color: $almost_black;
      color: $white;
      border: none;
    }
  }
}
