.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  text-transform: uppercase;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: unset;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }

    .option-signout {
      cursor: pointer;
      color: $dark_grey;
      font-weight: bolder;
    }
  }
}
